$facebook: #568fce;
$twitter: #27c2f5;
$google: #f7333e;
$youtube: #ef272c;
$pinterest: #cb2027;
$instagram: #568fce;

.bg-img {
    @include img-inbg;
    background-color: $gray-400;
    @include transition(all .4s linear);
    &:before {
        content: '';
        background-color: rgba(0, 0, 0, .4);
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        height: 100%;
    }
}

.blog-img {
    overflow: hidden;
    &:hover {
        .bg-img {
            @include transform(scale(1.1));
        }
    }
}

.blog-img {
    .bg-img {
        padding-bottom: 65%;
    }
}

.card-layout {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    .bg-img {
        padding-bottom: 65%;
    }
    .card-block {
        position: relative;
        .content {
            position: absolute;
            left: 0;
            bottom: 0;
            pointer-events: none;
            .title {
                font-size: 1.2rem;
                line-height: 1.3;
            }
        }
        &:first-child {
            grid-row: span 2;
            grid-column: span 2;
            .content {
                .title {
                    font-size: 1.5rem;
                }
            }
        }
    }
}

.ads-box {
    padding: 5rem 1rem;
    border: 1px solid rgba(0, 0, 0, .2);
}

.technology-box {
    .box-img {
        width: 100px;
        .bg-img {
            padding-bottom: 100%;
        }
    }
}

.social-div {
    @include transition(all .2s linear);
    opacity: .7;
    &:hover {
        opacity: 1;
    }
}

.facebook-box {
    background-color: $facebook;
}

.twitter-box {
    background-color: $twitter;
}

.google-box {
    background-color: $google;
}

.youtube-box {
    background-color: $youtube;
}

.pinterest-box {
    background-color: $pinterest;
}

.instagram-box {
    background-color: $instagram;
}

.sidebar {
    .box-img {
        width: 80px;
    }
    h6 {
        font-size: .875rem;
    }
    .technology-box {
        .small {
            font-size: 70%;
        }
    }
}

.line {
    border-bottom: 1px solid $gray-400;
}

.btn-arrow {
    padding-right: 2.5rem;
    position: relative;
    .icon {
        position: absolute;
        right: 0;
        @include transition(.3s all linear);
        margin-right: 10px;
    }
    &:hover {
        text-decoration: none;
        .icon {
            margin-right: 5px;
        }
    }
}

@include media-breakpoint-down(xs) {
    .card-layout {
        .card-block {
            &:first-child {
                grid-column: span 1;
            }
        }
    }
}
